* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  background-color: #333533;
  font-family: "Courier New", Courier, monospace;
}
img {
  display: block;
  width: 100%;
}
